.community{
    display: flex;
    margin: 10px;
    border-bottom: 1.2px solid #eee;
}


img{
    width: 28vmax;
    height: 18vmax;
}

.info{
    margin-left: 1rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

.info h2{
    /* font-family: Lora,serif; */
    font-size: 1.5rem;
    margin:0.2vmin;
    font-weight: 500;
}

.group{
    margin: 0.2vmin;
}

.data{
    /* text-decoration: underline; */
    color: #007dc3;
}